* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
.html {
    font-size: 62.5%;
    /* Cambia la medida del rem de 16px a 10px*/
    background-color: #FFF;
}



/*header+nav (all pages)*/
.header {
    height: 100%;
    z-index: 1000;
    background-color: #FFA400;
    display: flex;
    justify-content: center;
    align-items: center;
}



.header__container1 {
    height: 43px;
    /* logo naik NEGRO arriba del nav*/
}

.header__container1__img {
    height: 40px;
}



/*nav (all pages)*/
.nav {
    height: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black ;
    height: 83px;
    /*fondo del (nav)*/
}

.nav__box {
    display: flex;
    width: 100%;
}



.nav__container1 {
    padding: 10px;
    /*Logo naik BLANCO*/
}
.nav__container1__img {
    height: 60px;
}



.nav__container2 {
    width: fit-content;
    display: flex;
    
    /*Menu del nav*/
}
.nav__container2__menu--index{
    padding-top: 9px;
    display: flex;
    list-style-type: none;
    padding-left: 325px;
    justify-content: center;
    align-items: center;
}
.nav__container2__menu {
    display: flex;
    list-style-type: none;
    padding-left: 325px;
    justify-content: center;
    align-items: center;
}
.nav__container2__menu__list a:hover {
    color: #FFA400;
    
}
.nav__container2__menu__Links {
    text-decoration: none;
    color: white;
    height: fit-content;
    font-size: 17px; 
    padding: 10px 100px;
    
}



.nav__container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    /*Buscador de la pagina*/
}
.nav__container3__form_input {
    border-radius: 5px;
    border-color: #FFA400;
    height: 35px;
    width: 200px;
    font-size: 14px;
}



.nav__container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    /*Carrito de compras y favoritos*/
}

.nav__container4 a {
    padding: 10px 0;
    padding-left: 30px;
}

.nav__container4--index {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    /*Carrito de compras y favoritos*/
}

.nav__container4--index a {
    padding: 6px 12px 10px 3px;
    
}

.nav__container4__img {
    width: 23px;
}

@media (max-width: 1880px) {
    .nav__container2__menu {
        padding-left: 35px;
    } 
}
@media (max-width: 1583px) {
    .nav__container2__menu {
        padding-left: 1px;
    } 
}
@media (max-width: 1554px) {
    .nav__container2__menu {
        padding-left: 0px;
    } 
    .nav__container2__menu__Links {
        padding: 10px 80px;
        
    }
}
@media (max-width: 1400px) {
    .nav__container2__menu__Links {
        padding: 10px 20px;
    }
}
@media (max-width: 930px) {
    .nav__container2__menu__Links {
        padding: 2px 8px;
    }
    
    .nav__container4 a {
        padding: 2px 0;
        padding-left: 10px;
    }
    
    .nav__container4__img {
        width: 23px;
    }
}
@media (max-width: 814px) {
    .nav__container2__menu__Links {
        padding: 1px 4px;
    }
    
    .nav__container4 a {
        padding: 1px 0;
        padding-left: 4px;
    }
    
    .nav__container4__img {
        width: 18px;
    }
}
@media (max-width: 729px) {
    .nav__container2__menu {
        padding: 31px 0;
        flex-wrap: wrap;
        
    } 
    .nav__container2__menu__list{
        padding: 1px;
    }
    .nav__container1 {
        display: none;
        /*Logo naik BLANCO*/
    }
    .nav__container1__img {
        display: none;
    }
}
@media (max-width: 660px) {
    .nav__container3__form_input {
        border-radius: 5px;
        border-color: #FFA400;
        height: 35px;
        width: 80px;
        font-size: 14px;
    }
    
    .nav__container4 a {
       padding-top: 16px;
    }
}
@media (max-width: 546px) {
    .nav {
        height: 120px;
    }
    
    .nav__container2__menu {
        padding: 20px 60px;
        display: inline-block;
    } 
    .nav__container4 {
        display: flex;
        flex-wrap: wrap-reverse;
        /*Carrito de compras y favoritos*/
    }

    .nav__container3__form_input {
        border-radius: 5px;
        border-color: #FFA400;
        height: 35px;
        width: 150px;
        font-size: 14px;
    }
    
}
@media (max-width: 481px) {
    
    .nav__container2__menu {
        padding: 20px 4px;
        display: inline-block;
    } 

    .nav__container3__form_input {
        border-radius: 5px;
        border-color: #FFA400;
        height: 35px;
        width: 100px;
        font-size: 14px;
    }
}




/*INDEX*/
/*banner+button para acceder a productos (index)*/
.section1 {
    position: relative;
    display: flex;
    height: 570px;
    border-bottom: #FFA400 solid 10px;
    /*contenedor del banner*/
}



.section1__img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}



.section1__container {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 10;
    padding-top: 60px;
}



.section1__container__div1{
    padding: 10px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1__container__div1__h1 {
    font-size: 80px;
    color: #000;
    background-color: #FFC65C;
    border-radius: 3px;
    width: fit-content;
    height: fit-content;
}



.section1__container__div2{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1__container__div2__p {
    font-size: 30px;
    color: #000;
    background-color: #FFC65C;
    border-radius: 3px;
    width: fit-content;
    height: fit-content;
}



.section1__container__div3{
    padding: 20px;
}
.section1__container__div3__button {
    display: inline-block;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.section1__container__div3__button:hover {
    background-color: #FFA400;
    cursor: pointer;
  }

.section1__container__div3__button__link {
    font-size: 20px;
    text-decoration: none;
    color: #F5F5F5;
}

.section1__container__div3__button__link:hover {
    color: #000;
    font-weight: bold;
}







/*main (index)*/
.main {
    height: fit-content;
}


/*Running,basket y football (index)*/
.main__container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__container1__set1 {
    padding: 40px;
    padding-top: 80px;
}

.main__container1__set2 {
    padding: 40px; 
    padding-top: 80px;
}

.main__container1__set3 {
    padding: 40px; 
    padding-top: 80px;
}
.main__container1__set1__h2, 
.main__container1__set2__h2, 
.main__container1__set3__h2 {
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}
.main__container1__set1__img, 
.main__container1__set2__img, 
.main__container1__set3__img {
    width: 407px;
    height: 522px;
    border: solid #FFA400 2px;
}

.main__container1__set1__img:hover, 
.main__container1__set2__img:hover, 
.main__container1__set3__img:hover {
    filter: brightness(1.4);
}

.main__container1__set1__img::after, 
.main__container1__set2__img::after, 
.main__container1__set3__img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    z-index: 1;
    opacity: 0;
    transition: all 0.5s ease;
}

.main__container1__set1__img:hover::after, 
.main__container1__set2__img:hover::after, 
.main__container1__set3__img:hover::after{
    opacity: 1;
}








/*Productos destacados,hombres,mujeres y niños (index)*/
.main__container2 {
    height: 760px;
    text-align: center;
    background-color: #FFC65C;
    border-radius: 10px;
    width: fit-content;
    width: 1000px;
    justify-content: center;
    margin-left: 24%;
    margin-top: 60px;
    border: 1px solid #FFA400;
}


.main__container2__h2{
    font-weight: 900;
    font-size: 40px;
    padding: 10px;
}
.main__container2__button {
    display: flex;
    margin-left: 438px;
    border-radius: 2px;
    border: none;
    padding: 5px 13px;
    background-color: black;
    color: #F5F5F5;
}
.main__container2__button__link {
    font-size: 20px;
    text-decoration: none;
    color: #F5F5F5;

}
.main__container2__button:hover {
    background-color: #FFA400;
    cursor: pointer;
}
.main__container2__button__link:hover {
    color: #000;
    font-weight: bold;  
}


.product__container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.product__container1__row {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.product__container1__item {
    width: 430px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}
.product__container1__item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.product__container1__item h3 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}
.product__container1__item p {
    margin-bottom: 20px;
    font-size: 1.6rem;
}
.product__container1__item button {
    background-color: #0066cc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.product__container1__item button:hover {
    background-color: #0052a3;
}






/*section dunk (index)*/

.section__dunk {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.section__dunk__img {
    border-radius: 2px;
}

/*section JUST (index)*/
.section__JUST {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.section__JUST__img {
    border-radius: 2px;
}





/*contacto (index)*/
.contact {
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
}
  
.contact__container {
    background-color: #fff;
    border: 3px solid #000;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background-color: #FFA400;
}
  
.contact__container__h2 {
    color: #000;
    text-align: center;
    font-size: 25px;
}
  
.contact__container__form {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
  
.contact__container__form__label1,
.contact__container__form__label2,
.contact__container__form__label3 {
    color: #000;
    margin-top: 10px;
}
  
.contact__container__form__input1,
.contact__container__form__input2,
.contact__container__form__textarea {
    border: 1px solid #000;
    margin-top: 5px;
    padding: 5px;
}
  
.contact__container__form__textarea {
    resize: none;
    height: 100px;
}
  
.contacto__container__form__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto__container__form__submit {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    padding-left: 27px;
    margin-top: 10px;
    cursor: pointer;
    width: 100px;
    font-size: 14px;

}

.contacto__container__form__submit:hover {
    background-color: #141414;
    color: #FFA400;
    font-weight: bold;
    transition: all 0.3s ease;
}
/*INDEX*/












/*ACCOUNT*/
.html1 {
    background-color: #141414;
    font-size: 62.5%;
}

.account__container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
    padding: 60px;
    background-color: white;
    border: 3px solid #FFA400;
}



.account__container__img {
    width: 100px;
    margin-left: 192px;
}
.account__container__title {
    text-align: center;
    margin-bottom: 30px;
}
.account__container__form {
    display: flex;
    flex-direction: column;
}

.account__container__form__label1,
.account__container__form__label2,
.account__container__form__label3,
.account__container__form__label4 {
    margin-bottom: 10px;
    font-size: 15px;
}

.account__container__form__input1,
.account__container__form__input2,
.account__container__form__input3,
.account__container__form__input4,
.account__container__form__submit {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 16px;
}

.account__container__form__submit {
    background-color: #FFA400;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.account__container__form__submit:hover {
    background-color: black;
}

@media only screen and (max-width: 620px) {
    .account__container {
        top: 50%;
        left: 50%;
        width: 360px;
        transform: translate(-50%, -50%);
        padding: 10px;
        padding-left: 43px;
        background-color: white;
        border: 2px solid #FFA400;
    }

    .account__container__img {
        width: 100px;
        margin-left: 103px;
    }

    .account__container__form {
      width: 90%;
    }
    .account__container__form__label1, 
    .account__container__form__label2,
    .account__container__form__label3,
    .account__container__form__label4 {
      font-size: 1rem;
    }
    .account__container__form__input1,
    .account__container__form__input2,
    .account__container__form__input3,
    .account__container__form__input4,
    .account__container__form__submit {
      font-size: 1rem;
      padding: 10px;
    }
  }
  @media only screen and (max-width:400px) {
    .account__container {
        top: 50%;
        left: 50%;
        width: 280px;
        transform: translate(-50%, -50%);
        padding: 6px;
        padding-left: 32px;
        background-color: white;
        border: 2px solid #FFA400;
    }

    .account__container__img {
        width: 100px;
        margin-left: 70px;
    }

    .account__container__form {
      width: 90%;
    }
    .account__container__form__label1, 
    .account__container__form__label2,
    .account__container__form__label3,
    .account__container__form__label4 {
      font-size: 1rem;
    }
    .account__container__form__input1,
    .account__container__form__input2,
    .account__container__form__input3,
    .account__container__form__input4,
    .account__container__form__submit {
      font-size: 1rem;
      padding: 10px;
    }
  }
/*ACCOUNT*/












/*ABOUT US*/
.main1 {
    max-width: 800px;
    height: 820px;
    margin: 0 auto;
    padding: 20px;
}



.section1__myv {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
}

.section1__myv__h2 {
    color: #444;
}

.section1__myv__p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}



.section2__story {
    padding: 20px;
    border-radius: 5px;
    margin-top: 40px;
    background-color: #f5f5f5;
}

.section2__story__h2 {
    color: #444;
}

.section2__story__p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}



.section3__team {
    padding: 20px;
    border-radius: 5px;
    margin-top: 40px;
    background-color: #f5f5f5;
}

.section3__team__h2 {
    color: #444;
}

.section3__team__p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}
/*ABOUT US*/











/*PRODUCTS*/
.product__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.product__item {
    width: calc(25% - 20px);
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}
.product__item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.product__item h3 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}
.product__item p {
    margin-bottom: 20px;
    font-size: 1.6rem;
}
.product__item button {
    background-color: #0066cc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.product__item button:hover {
    background-color: #0052a3;
}
/*PRODUCTS*/








/*GALLERY*/
.main2 {
    max-width: 1400px;
    margin: 20px auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.gallery__item1,
.gallery__item2,
.gallery__item3,
.gallery__item4,
.gallery__item5,
.gallery__item6,
.gallery__item7,
.gallery__item8,
.gallery__item9,
.gallery__item10,
.gallery__item11,
.gallery__item12,
.gallery__item13,
.gallery__item14,
.gallery__item15,
.gallery__item16,
.gallery__item17,
.gallery__item18,
.gallery__item19,
.gallery__item20 {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
}
.gallery__item1__img,
.gallery__item2__img,
.gallery__item3__img,
.gallery__item4__img,
.gallery__item5__img,
.gallery__item6__img,
.gallery__item7__img,
.gallery__item8__img,
.gallery__item9__img,
.gallery__item10__img,
.gallery__item11__img,
.gallery__item12__img,
.gallery__item13__img,
.gallery__item14__img,
.gallery__item15__img,
.gallery__item16__img,
.gallery__item17__img,
.gallery__item18__img,
.gallery__item19__img,
.gallery__item20__img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
    border: none;
}
/*GALLERY*/







/*footer (all pages)*/
.footer {
    background-color: #000;
    color: #fff;
    display: flex;
    font-size: 14px;
    height: 230px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top: #FFA400 solid;
}



.footer__info {
    flex-basis: 20%;
}
.footer__info__title {
    padding-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.footer__info__list {
    margin: 0;
    padding: 0;
    list-style: none;
}  
.footer__info__list__li {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__info__list__li__link {
    color: #666666;
    text-decoration: none;
}
.footer__info__list__li__link:hover {
    color: #FFA400;
}


.footer__map {
    flex-basis: 20%;
    padding-left: 60px;
} 
.footer__map__iframe {
    border: none;
    width: 100%;
    height: 180px;
}



.footer__support {
    flex-basis: 20%;
    padding-left: 40px;
} 
.footer__support__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__support__list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer__support__list__li {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.footer__support__list__li__link {
    color: #666666;
    text-decoration: none;
}

.footer__support__list__li__link:hover {
    color: #FFA400;
}



.footer__social {
    flex-basis: 15%;
}
.footer__social__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__social__list {
    margin: 0;
    padding: 0;
    list-style: none;
}  
.footer__social__list__li {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__social__list__li__link {
    color: #666666;
    text-decoration: none;
}

.footer__social__list__li__link:hover {
    color: #FFA400;
}


.footer__newsletter {
    flex-basis: 15%;
    
}

.footer__newsletter__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer__newsletter__form {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__newsletter__form1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__newsletter__form1__input{
    width: 255px;
    
}

.footer__newsletter__form2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    
}

.footer__newsletter__form2__button {
padding: 7px;

}

.footer__newsletter__form2__button:hover {
    background-color: #FFA400;
    font-weight: bold;
    
}

.footer__copyright {
    background-color: #FFA400;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copyright p {
    font-size: 15px;
}

.footer__copyright--index {
    background-color: #FFA400;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copyright--index p {
    font-size: 15px;
    padding-top: 8px;
}

@media (max-width: 1300px) {
    .footer {
        flex-wrap: wrap;
        height: fit-content;
    }
    .footer__newsletter__title {
        margin-top: 20px;
        
    }
    .footer__map {
        margin: 20px;
        padding: 0;
        width: fit-content;
    } 
    .footer__map__iframe {
        border: none;
        width: 100%;
        height: 180px;
    }
    .footer__info {
        margin: 20px;
        width: fit-content;
    }
    .footer__social {
        margin: 20px;
        width: fit-content;
    }
    .footer__support {
        margin: 20px;
        margin-left: 5px;
        padding: 0;
    } 
    .main1 {
        max-width: 800px;
        height: 900px;
        margin: 0 auto;
        padding: 20px;
    }    
}
@media (max-width: 649px) {
    .main1 {
        max-width: 800px;
        height: 1020px;
        margin: 0 auto;
        padding: 20px;
    }    
}
@media (max-width: 542px) {
    .main1 {
        max-width: 800px;
        height: 1300px;
        margin: 0 auto;
        padding: 20px;
    }    
}
@media (max-width: 420px) {
    .main1 {
        max-width: 800px;
        height: 1500px;
        margin: 0 auto;
        padding: 20px;
    }    
    .footer__copyright p{
        font-size: 10px;
    }
}
@media (max-width: 385px) {
    .main1 {
        max-width: 800px;
        height: 1600px;
        margin: 0 auto;
        padding: 20px;
    }    
}
@media (max-width: 385px) {
    .main1 {
        max-width: 800px;
        height: 1600px;
        margin: 0 auto;
        padding: 20px;
    }    
    .footer__newsletter__form1__input{
        width: 150px;
        
    }
    .footer__newsletter__form2__button {
    padding: 2px;
    
    }
    
}
@media (max-width: 351px) {
    .main1 {
        max-width: 800px;
        height: 1800px;
        margin: 0 auto;
        padding: 20px;
    }    
}



/* Barra de scroll */
::-webkit-scrollbar {
    width: 10px;
/* Ancho de la barra de scroll */
}

/* Puntero de la barra de scroll */
::-webkit-scrollbar-thumb {
    background-color: #FFA400;
    /* Color del puntero */
    /* Radio de la esquina del puntero */
}

/*Pista de la barra de desplazamiento*/
::-webkit-scrollbar-track {
    background-color: black;
}

/* Barra de scroll (Firefox) */
::-moz-scrollbar {
    width: 10px;
}

/* Puntero de la barra de scroll (Firefox) */
::-moz-scrollbar-thumb {
    background-color: #FFA400;
}




/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/* Sections
     ========================================================================== */

/**
   * Remove the margin in all browsers.
   */

body {
    margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */

main {
    display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */

/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Text-level semantics
     ========================================================================== */

/**
   * Remove the gray background on active links in IE 10.
   */

a {
    background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */

b,
strong {
    font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */

small {
    font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
     ========================================================================== */

/**
   * Remove the border on images inside links in IE 10.
   */

img {
    border-style: none;
}

/* Forms
     ========================================================================== */

/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */

button,
input {
    /* 1 */
    overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */

button,
select {
    /* 1 */
    text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */

progress {
    vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */

textarea {
    overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/* Interactive
     ========================================================================== */

/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */

details {
    display: block;
}

/*
   * Add the correct display in all browsers.
   */

summary {
    display: list-item;
}

/* Misc
     ========================================================================== */

/**
   * Add the correct display in IE 10+.
   */

template {
    display: none;
}

/**
   * Add the correct display in IE 10.
   */

[hidden] {
    display: none;
}