* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.html {
    font-size: 62.5%;
    /* Cambia la medida del rem de 16px a 10px*/
}



.body {
    background-color: #141414;
}



.account__container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
    padding: 60px;
    background-color: white;
    border: 3px solid #FFA400;
}
.account__container__title {
    text-align: center;
    margin-bottom: 30px;
}
.account__container__form {
    display: flex;
    flex-direction: column;
}
.account__container__form__label1,
.account__container__form__label2,
.account__container__form__label3,
.account__container__form__label4 {
    margin-bottom: 10px;
}
.account__container__form__input1,
.account__container__form__input2,
.account__container__form__input3,
.account__container__form__input4,
.account__container__form__submit {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 16px;
}
.account__container__form__submit {
    background-color: #FFA400;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.account__container__form__submit:hover {
    background-color: black;
}